[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
epub-conversion = "*"
jieba = "*"
regex = "*"
"pyqt5" = "*"
pyinstaller = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.7"
