[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
epub-conversion = "*"
nltk = "*"
jieba = "*"
regex = "*"
"pyqt5" = "*"
pyinstaller = "*"
fulltext = "*"
click = "*"
dmgbuild = "*"

[dev-packages]

[requires]
python_version = "3.6"
